.collapse {
  display: inline;
  width: 100%;
  float: clear;
}
.collapseTest {
}
.collapse__label {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.collapse__label--text {
  justify-content: flex-start;
  width: auto;
}

.collapse__label__icon {
}

.collapse__label__icon--animated {
  transition: transform 0.2s ease;
}

.collapse__content {
  margin: 0.5rem 0;
}

.collapse__content--closed {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in;
}

.collapse__content--open {
  max-height: 2000px; // bigger than the biggest possible content
  transition: max-height 0.25s ease-out;
}

.collapse__close {
  display: flex;
}

.collapse__close--bottom-right {
  justify-content: flex-end;
}

.collapse__close--bottom-center {
  justify-content: center;
}
