.collapse {
}

.collapse__label {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapse__label__icon {
}

.collapse__label__icon--animated {
  transition: transform 0.2s ease;
}

.collapse__content {
}

.collapse__content--closed {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.4s ease-in;
}

.collapse__content--open {
  max-height: 2000px; // bigger than the biggest possible content
  transition: max-height 0.25s ease-out;
}

.collapse__close {
}

.collapse__close--top-center {
}

.collapse__close--top-right {
}

.collapse__close--bottom-center {
}
