.header {
  width: 100%;
  display: flex;
  align-items: top;

  padding-bottom: 0.8rem;

  margin-top: -0.8rem;
}

.nav {
}

.nav--center {
  justify-content: center;
}

.nav--right {
  justify-content: flex-end;
}

.link {
  text-decoration: none;
  color: #95ceff;
  font-size: 1.2rem;
}

.link--current {
  color: rgb(32, 32, 32);
  font-weight: bold;
}

.link + .link {
  margin-left: 1rem;
}
