.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 32px;
  border: 2px solid rgb(32, 32, 32);
  border-radius: 22px;
  width: 200px;

  margin-bottom: 0.5rem;
}

.search__input {
  padding: 0 1rem;
  border: none;
  width: 100%;
  font-size: 1.1rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  caret-color: black;
}

.search:focus-within {
  border-color: pink;
  border-width: 2px;
}

.search__button {
  border: 1px dotted transparent;
  height: 40px;
  padding-right: 3px;
}

.search__button:focus {
  border: 1px dashed rgb(32, 32, 32);
  border-radius: 50%;
}

.search__button:disabled {
  cursor: progress;
}
